<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>SVN8 VEHICLE TEAM</title>
</head>
<script>
    function trimInput() {
        let isNum = true;
        $(".input").each(function(index, val){
            const inputValue =  $(this).val().trim();
            const name = $(this).attr('name');
            $(this).val(inputValue);
            if (name == "phoneNumber" || name == "yearOfExperience" || name == "drivingLicenseNumber" || name == "identityCardNumber"){
                isNum = isNum && !isNaN($(this).val());
            }
        });
        if (!isNum) {
            $(".input").each(function(index, val){
                $(this).val("");
            });
            alert("You must enter the right format of the input!");
        }
    }
    function checkNullObj(obj) {
        for (const key in obj) {
            if (obj.hasOwnProperty(key) && typeof obj[key] === 'string' && obj[key].trim() === '') {
                return false;
            }
        }
        return true;
    }
</script>
<body>
    <div class="hero">
        <nav>
            <div class="nav__header">
                <div class="logo nav__logo">
                    <a href="user_page">SVN8<span>TEAM</span></a>
                </div>

                <div class="nav__menu__btn" id="menu-btn">
                    <span><i class="ri-menu-line"></i></span>
                </div>
            </div>

            <ul class="nav__links" id="nav-links">
                <li><a href="user_vehicle">Vehicle</a></li>
                <li><a href="user_driver">Driver</a></li>
                <li><a href="user_trip">Trip</a></li>
                <li><a href="user_report">Team report</a></li>
            </ul>

            <i class="ri-account-circle-fill ri-2x" onclick="toggleMenu()"></i>

            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">

                    <div class="user-info">
                        <i class="ri-user-2-fill ri-2x"></i>
                        <p> <%- user.name %> </p>
                    </div>

                    <hr>

                    <a href="user_profile" class="sub-menu-link">
                        <i class="ri-id-card-line ri-2x"></i>
                        <p>Driver Profile</p>
                    </a>

                    <a href=".." class="sub-menu-link">
                        <i class="ri-logout-box-r-line ri-2x"></i>
                        <p>Log Out</p>
                    </a>

                </div>
            </div>
        </nav>
    </div>

    <section class="section__container">
        <form action="./edit-user-profile" method="post">
            <h4 class="font-weight-bold py-3 mb-4">
                Account settings
            </h4>
            
            <div class="card overflow-hidden">
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-3 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <a class="list-group-item list-group-item-action active" data-toggle="list"
                                href="#account-general">General</a>

                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-info">Driver
                                Infomation</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-social-links">Social links</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="account-general">
                                    <hr class="border-light m-0">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control"  name= "name" required value= <%- user.name %>>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Identity Card Number</label>
                                            <input type="text" class="form-control" name= "identityCardNumber" required value=<%- user.identityCardNumber %>>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Address</label>
                                            <input type="text" class="form-control" name= "address" required value= <%- user.address %>>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Phone Number</label>
                                            <input type="text" class="form-control" name= "phoneNumber" required value= <%- user.phoneNumber %>>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-info">
                                    <div class="card-body pb-2">
                                        <div class="form-group">
                                            <label class="form-label">Driver License Number</label>
                                            <input type="text" class="form-control" name= "drivingLicenseNumber" required value= <%- user.drivingLicenseNumber %>>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Driver License Class</label>
                                            <input type="text" class="form-control" name= "drivingLicenseClass" required value= <%- user.drivingLicenseClass %>>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Country</label>
                                            <select class="custom-select">
                                                <option selected>VietNam</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Year of Experience</label>
                                            <input type="text" class="form-control" name= "yearOfExperience" required value= <%- user.yearOfExperience %>>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-social-links">
                                    <div class="card-body pb-2">
                                        <div class="form-group">
                                            <label class="form-label">Twitter</label>
                                            <input type="text" class="form-control" value="https://twitter.com/user">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Facebook</label>
                                            <input type="text" class="form-control" value="https://www.facebook.com/user">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Google+</label>
                                            <input type="text" class="form-control" value>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">LinkedIn</label>
                                            <input type="text" class="form-control" value>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="text-right mt-3">
                <button type="submit" class="btn btn-primary" onclick="trimInput()">Save changes</button>
                <a href="user_profile"><button type="button" class="btn btn-default">Cancel</button></a>
            </div>
        </form>
    </section>

    <footer class="footer" id="contact">
        <div class="footer__bar">
            Copyright © 2024 SVN8. All rights reserved.
        </div>
    </footer>


    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="main.js"></script>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
    </script>
</body>

</html>